@keyframes pulse {
    0% {
        background-color: #cfd8dc;
        color: #cfd8dc;
    }

    50% {
        background-color: #eceff1;
        color: #eceff1;
    }

    100% {
        background-color: #cfd8dc;
        color: #cfd8dc;
    }
}

@keyframes pulseborder {
    0% {
        border-left: 4px solid #cfd8dc;
        border-bottom: 4px solid #cfd8dc;
    }

    50% {
        border-left: 4px solid #eceff1;
        border-bottom: 4px solid #eceff1;
    }

    100% {
        border-left: 4px solid #cfd8dc;
        border-bottom: 4px solid #cfd8dc;
    }
}